# Discord
discord.py

# DB
redis
psycopg2-binary
sqlmodel

# Environment
python-dotenv

# aiohttp
# openai
# hiredis
# tiktoken
# langgraph
# langgraph-checkpoint-sqlite
# langchain
# langchain-openai
# langchain-anthropic
# langchain-google-community
# wikipedia
# python-magic
# lxml
# redisvl
# pypdf
# pydantic
# aiosqlite
# beautifulsoup4
