aiohttp
discord.py
python-dotenv
openai
hiredis
redis
tiktoken
langgraph
langgraph-checkpoint-sqlite
langchain
langchain-openai
langchain-anthropic
langchain-google-community
wikipedia
python-magic
lxml
redisvl 
pypdf
pydantic
aiosqlite
beautifulsoup4
sqlmodel
